body{ 
    background-color:bisque;
    margin: 0;
}
nav{
    display:  flex;
}
header{
    background-color: steelblue;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.box{
    width: 200px;
}
address{
    width: 500px;
    border: red   solid 2px;
    padding: 10px ;
}
footer{
    background-color: steelblue;
    background-color: steelblue;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 40px 20px;
    margin-bottom: 20px;
}
h2{
    color: white;
}